mixin product-item(img, taste, weight)
  li.products__item.product
    img.product__img(src=`img/catalog/${img}` alt=`"Питание со вкусом ${taste}. ${weight} грамм."` width="161" height="172")
    .product__description
      h3.product__title.
        cat energy<br />
        pro #{weight} г
      dl.product__feature
        .product__feature--item
          dt.product__feature-title Масса
          dd.product__feature-text #{weight} г
        .product__feature--item
          dt.product__feature-title Вкус
          dd.product__feature-text #{taste}
        .product__feature--item
          dt.product__feature-title Цена
          if weight === '500'
            dd.product__feature-text 700 ₽
          else if weight === '1000'
            dd.product__feature-text 1000 ₽
          else
            dd.product__feature-text= "Уточняется"

    a.button.button--product(href="")
      span Заказать

mixin add-product(title, quantity, price)
  li.add-products__item.add
    p.add__title #{title}
    dl.add__feature
      dt.add-product__feature-title #{quantity}
      dd.add-product__feature-text #{price} ₽
    a.button.button--product(href='')
      span Заказать
